<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mobileleader.image.db.mapper.CommonMapper">

	<select id="getNextSeq" resultType="int">
		SELECT SQ_IMAGE_FILE_01.NEXTVAL FROM DUAL 
	</select>

</mapper>