.container{min-width : 850px;}
.header{text-align : center;}
.footer{text-align : center; margin-top : 20px;}

.title{text-align : center;}

table{border-top : 2px solid rgb(41,109,124); margin-bottom:0;}
thead{background-color : rgb(235,245,248);}
.table-top{
	padding-left : 20px; padding-right : 10px;  
	color : grey; margin-top : 30px;
}

.input-group-btn{margin-left : 10px;}
.btn-info{
	background-color : rgb(49,130,147); border : 1px solid rgb(49,130,147);
}
.btn-xs{padding : 0; margin : 0;}
.btn-s{font-size : 13px;}
.btn-block{width : 80%;}

.resetBtn{
	padding : 3px 5px; display:inline-block; float:right; margin-bottom : 5px;
}
.resetBtn, .selectFileBtn{
	background-color : white; border : 1px solid rgb(41,109,124);  color : rgb(41,109,124);
}
#addFileBtn{display:inline-block; width : 90%;}
#addFileBtn:active {background-color : rgb(233,233,233);}

.invisible{
	position : absolute; width : 1px; height : 1px;
	padding : 0; margin : -3px; overflow : hidden; clip : rect(0,0,0,0); border : 0;
}